body {
    background-color: rgb(64, 57, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-color: blueviolet;
    display: flex;
  

}

.item {
    flex-basis: 200px;
    flex-grow: 1;
    border: 1px solid crimson ;
    background-color: cornflowerblue;
    text-align: center;
    font-size: 24px;
    font-weight:bold;
   
}
/* flex-shrink -> Esta propiedad funciona como un factor de contracción, encojimiento, reducción de los elementos de un contenedor flex
flex-shrink: 1; Este es el valor por default de los items. Si no se declara estos es lo que aplica 

flex-shrink recibe valores númericos
*/
 .apachurro1{
    flex-grow: 4;
    flex-shrink: 1;


 }
 .apachurro2{
    flex-grow: 3;
    flex-shrink: 2;
 }
 .apachurro3{
    flex-grow: 2;
    flex-shrink: 3;
 }
 .apachurro4{
    flex-grow: 1;
    flex-shrink: 4;
 }